svg {
  background-color: #f0f0f0;
}

p.source {
	font-size: 8pt;
	font-family: Lucidatypewriter, monospace;
}

rect.bar {
  stroke-width:3px;   
}

text.title {
	font-size: 18pt;
	font-family: Lucidatypewriter, monospace;
	color: #2d2e2e;
}

text.subtitle {
	font-size: 13pt;
	font-family: Lucidatypewriter, monospace;
	color: #2d2e2e;
}

text.xText,
text.yText,
text.legendLabel {
  font-size: 10pt;
  font-family: Lucidatypewriter, monospace;
  color: #2d2e2e;
}